<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="color:rgb(0, 0, 0)">
        <form action="{{ url_for('predict')}}" method="post">
            <h2>Optimal foodcard analysis</h2>
            <h3>Insert Product Price</h3>
            <!-- create table of inputs -->
            <table name="tablita">
                <tr>
                    <td> <label for="product price">Write "Product Price" (without quotations, a blank space between them and add the items in different lines) </label> </td>
                </tr>
                <tr>
                    <td> <textarea name="product_price_list" rows="10" cols="50">{{ remember_input_text }}</textarea> </td>
                </tr>   
                
            </table>

            <br><br><button id="sub" type="submit">Calculate</button>


        </form>

        <br>
        <h3>---- Optimal purchases ----<h3></h3>        
        <h3>{{ optimal_purchase1 }}<h3>
        <h3>{{ optimal_purchase2 }}<h3></h3>
        <h3>{{ optimal_purchase3 }}<h3></h3>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $('.AddNew').click(function() {
        var row = $(this).closest('tr').clone();
        row.find('input').val('');
        $(this).closest('tr').after(row);
        $('input[type="button"]', row).removeClass('AddNew').addClass('RemoveRow').val('Remove item');
        });

        $('table').on('click', '.RemoveRow', function() {
        $(this).closest('tr').remove();
        });
    </script>

</body>

</html>        